
<div>
    Login Page
    <form action="/Account/Login/">
        First name:<br>
        <input type="text" name="firstname" value="Mickey"><br>
        Last name:<br>
        <input type="text" name="lastname" value="Mouse"><br><br>

        <input type="submit" value="Submit">
        <input type="hidden" id="hidCallbackUrl" value="@ViewBag.CallBackUrl" name="CallbackUrl"/>
    </form>
</div>
<script>


</script>